old/
.ipynb_checkpoints/
Exp_notebooks/
*/runs
*/__pycache__
*.pyc
**/TSWLatexianTemp*
**/.DS_Store
Manuscript/figures/old figures/
Manuscript/Fewshot.aux
Manuscript/Fewshot.bbl
Manuscript/Fewshot.blg
Manuscript/Fewshot.fdb_latexmk
Manuscript/Fewshot.fls
Manuscript/Fewshot.log
Manuscript/Fewshot.out
Manuscript/Fewshot.synctex.gz
Manuscript/neurips_2022.aux
Manuscript/neurips_2022.fdb_latexmk
Manuscript/neurips_2022.fls
Manuscript/neurips_2022.log
Manuscript/neurips_2022.out
Manuscript/neurips_2022.synctex.gz
Manuscript/neurips_2022.bbl
Manuscript/neurips_2022.blg
Manuscript/iclr2022_style/Fewshot_ICLR.aux
Manuscript/iclr2022_style/Fewshot_ICLR.fdb_latexmk
Manuscript/iclr2022_style/Fewshot_ICLR.fls
Manuscript/iclr2022_style/Fewshot_ICLR.log
Manuscript/Theory.tex
